/* =====  1 Reset  ========================================================== */

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q,
samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset,
form, input, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark,
audio, video, hr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration: none;
	list-style: none;
}

html {
	-webkit-text-size-adjust: 100%;
}

body {
    font-family: sans-serif;
    font-size: 12pt;

    text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
}


/* ---------- HEADER ---------- */
.page-header {
    padding: 20px 2% 0 2%;
}

.multi, .nav {
    display: flex;
}

.s {
    width: 25%;
}

.nav > .s {
    flex-grow: 1;
    border-right: 1px solid black;
}

.l {
    width: 90%;
}

.nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.row {
    padding: 5px;
}





/* ---------- CONTENT ---------- */
.page-body {
    display: flex;
}

.set {
    width: 25%;
    flex-grow: 1;
}

.set-head {
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    margin-bottom: 100px;

}

img {
    margin-bottom: 40px;
    display: inline-block;
}
